@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5e9zwj');
  src:  url('fonts/icomoon.eot?5e9zwj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5e9zwj') format('truetype'),
    url('fonts/icomoon.woff?5e9zwj') format('woff'),
    url('fonts/icomoon.svg?5e9zwj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-music:before {
  content: "\e911";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-file-video:before {
  content: "\e92a";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-users:before {
  content: "\e972";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-file-pdf:before {
  content: "\eadf";
}
